#botonSuma{

    width:90px;
    height:90px;
    font-size:90px;

}
#botonMultiplicar{

    width:90px;
    height:90px;
    font-size:90px;

}

#botonDivision{
   width:90px;
    height:90px;
    font-size:90px;
}

#botonModulo{
   width:90px;
    height:90px;
    font-size:90px;
}

#resultado
{
    font-size:90px;
}
